html {
    color: white;
}

body {
    background: linear-gradient(to bottom, #333, #000000);
    font-family: Courier New, sans-serif;

}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.title {
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    font-size: 26px;
    text-align: center;
}

.control-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.canvas {
    cursor: pointer;
}

#volume {
    width: 200px;
    margin-right: 20px;
}

#start {
    width: 150px;
    height: 25px;
    font-weight: bold;
    cursor: pointer;
    font-family: Courier New, sans-serif;
}