html {
    color: white;
}

body {
    background-color: #333;
    font-family: HandelGothic, Trebuchet MS, sans-serif;

}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.title {
    font-weight: bolder;
    font-size: 70px;
    text-align: center;
}

.control-panel {
    display: flex;
    justify-content: center;
}